/* Accordion Styles */
.accordion {
    width: 100%;
  }
  
  .accordion-section {
    border: 1px solid #ccc;
    margin: 10px;
  }
  
  .accordion-header {
    cursor: pointer;
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
  }
  
  .accordion-header.active {
    background-color: #e0e0e0;
  }
  
  .accordion-content {
    overflow: hidden;
    height: 0px;
    opacity: 0;
    transition: all .3s ease-in-out;
  }
  
  .accordion-content.open {
    opacity: 1;
  }
  